BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://img.7m.cn/nsimg/ns_hbg1.gif); PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-TOP: 0px; BACKGROUND-COLOR: #cccccc
}
TABLE {
	FONT-SIZE: 12px
}
.ns_tnbg1 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg1.jpg) no-repeat
}
.ns_tnbg2 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg2.jpg) repeat-x
}
.ns_tnbg3 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg3.jpg) no-repeat
}
.ns_tnbg4 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg4.jpg) no-repeat
}
.ns_tnbg5 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg5.jpg) repeat-x; LINE-HEIGHT: 19px; PADDING-TOP: 5px
}
.ns_tl1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.ns_tl1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.ns_tl1:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.ns_tl1:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.ns_tnbg5s {
	FONT-SIZE: 11px; COLOR: #8fc2be; FONT-FAMILY: Tahoma
}
.ns_tnbg6 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_tnbg6.jpg) no-repeat
}
.ns_lt1 {
	LINE-HEIGHT: 19px; TEXT-ALIGN: center
}
.tooltips {
	Z-INDEX: 2; COLOR: #000000; POSITION: relative; HEIGHT: 19px; TEXT-DECORATION: none
}
.tooltips:hover {
	Z-INDEX: 3; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
.tooltips SPAN {
	DISPLAY: none
}
.tooltips:hover SPAN {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; DISPLAY: block; LEFT: 0px; BORDER-LEFT: #0a246a 1px solid; WIDTH: 90px; BORDER-BOTTOM: #0a246a 1px solid; POSITION: absolute; TOP: 15px; BACKGROUND-COLOR: #ffffff
}
.tsl1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; WIDTH: 90px; LINE-HEIGHT: 17px
}
.tsl1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.tsl1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.tsl1:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.tsl1:hover {
	BACKGROUND: #8592b5; COLOR: #ffffff; TEXT-DECORATION: none
}
.l1 {
	TEXT-ALIGN: center
}
.l1 INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 17px; BORDER-BOTTOM: 0px; HEIGHT: 17px
}
.l2 {
	COLOR: #ffffff; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.l3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-ALIGN: center
}
.l4 {
	PADDING-TOP: 4px; TEXT-ALIGN: center
}
.l5 {
	TEXT-ALIGN: right
}
.l5_goal {
	TEXT-ALIGN: right
}
.l7 {
	TEXT-ALIGN: left
}
.l7_goal {
	TEXT-ALIGN: left
}
.l5 A {
	COLOR: #000000; PADDING-TOP: 5px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.l5 A:hover {
	TEXT-DECORATION: underline
}
.l7 A:hover {
	TEXT-DECORATION: underline
}
.l5_goal A:hover {
	TEXT-DECORATION: underline
}
.l7_goal A:hover {
	TEXT-DECORATION: underline
}
.l5_goal A {
	COLOR: #000000; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.l7_goal A {
	COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.l7 A {
	COLOR: #000000; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.l7_goal A {
	FONT-WEIGHT: bold; COLOR: #ff3300; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.l5_goal A {
	FONT-WEIGHT: bold; COLOR: #ff3300; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.l6 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Tahoma; TEXT-ALIGN: center
}
.l6 A:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.l6 A:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.l6 A:active {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.l6 A:hover {
	FONT-WEIGHT: bold; COLOR: #ff3300; TEXT-DECORATION: underline
}
.l8 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300; FONT-FAMILY: Tahoma; TEXT-ALIGN: center
}
.l9 {
	PADDING-TOP: 4px; TEXT-ALIGN: center
}
.l10 {
	TEXT-ALIGN: center
}
.ls1 {
	PADDING-TOP: 4px; BACKGROUND-COLOR: #f7f8f3; TEXT-ALIGN: center
}
.ns_ltv1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; Z-INDEX: 2; CURSOR: default; POSITION: relative
}
.ns_ltv1:hover {
	Z-INDEX: 3; BACKGROUND: none transparent scroll repeat 0% 0%
}
.ns_ltv1 SPAN {
	DISPLAY: none
}
.ns_ltv1:link SPAN {
	DISPLAY: none
}
.ns_ltv1:visited SPAN {
	DISPLAY: none
}
.ns_ltv1:hover SPAN {
	BORDER-RIGHT: #305e6b 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #305e6b 1px solid; DISPLAY: block; PADDING-LEFT: 3px; LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #305e6b 1px solid; WIDTH: 165px; COLOR: #000000; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #305e6b 1px solid; POSITION: absolute; TOP: 25px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ns_ltv1:unknown SPAN {
	DISPLAY: none
}
.ns_tb1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: url(http://img.7m.cn/nsimg/ns_bg1.jpg); BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: 0px; HEIGHT: 31px
}
.ns_tb2 {
	BACKGROUND: url(http://img.7m.cn/nsimg/ns_bg3.jpg) #ffffff repeat-x
}
.gmt_t1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Tahoma
}
.ns_ct1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Tahoma
}
.ns_licon1 IMG {
	MARGIN-LEFT: 1px; MARGIN-RIGHT: 2px
}
.ns_xq1 {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.7m.cn/nsimg/ns_bg2.gif); COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 22px; TEXT-ALIGN: center
}
.ns_f1 {
	COLOR: #ff0000; FONT-FAMILY: Tahoma
}
.ns_td1 {
	PADDING-TOP: 4px
}
.ns_l1:link {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.ns_l1:visited {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.ns_l1:active {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.ns_l1:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: underline
}
.ns_sm1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; LINE-HEIGHT: 17px; BORDER-BOTTOM: #eff7f6 1px solid
}
.ns_sm2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; LINE-HEIGHT: 17px; BORDER-BOTTOM: #eff7f6 1px solid; TEXT-ALIGN: center
}
.ns_slt1 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 11px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Tahoma
}
.ns_tr1 {
	BACKGROUND-COLOR: #cce3e1
}
.ns_tr2 {
	BACKGROUND-COLOR: #e2efee
}
.LayerT1 {
	LEFT: 3px; WIDTH: 0px; POSITION: relative; TOP: -20px; HEIGHT: 0px
}
.LayerT2 {
	LEFT: -3px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
.menu_sp1 {
	WIDTH: 12px; HEIGHT: 19px
}
.menu {
	BORDER-RIGHT: #0a246a 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; WORD-BREAK: break-all; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
.menu1 {
	BORDER-RIGHT: #0a246a 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; BORDER-LEFT: #0a246a 1px solid; CURSOR: default; WORD-BREAK: break-all; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
.menu {
	WIDTH: 55px
}
.menu1 {
	WIDTH: 72px
}
.menu_b {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #0a246a
}
.menu_b1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #0a246a
}
.menu_b {
	WIDTH: 55px
}
.menu_b1 {
	WIDTH: 72px
}
.menu_span1 {
	PADDING-LEFT: 5px; BACKGROUND: url(http://img.7m.cn/nsimg/ns_selbg1.gif) no-repeat; WIDTH: 56px; CURSOR: default; PADDING-TOP: 4px; HEIGHT: 20px
}
.menu_span2 {
	PADDING-LEFT: 5px; BACKGROUND: url(http://img.7m.cn/nsimg/ns_selbg2.gif) no-repeat; WIDTH: 72px; CURSOR: default; PADDING-TOP: 4px; HEIGHT: 20px
}
.tmlct1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.tmlct1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.tmlct1:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tmlct1:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.select_d1 {
	BORDER-RIGHT: #ddecff 3px solid; BORDER-TOP: #ddecff 3px solid; Z-INDEX: 10; BORDER-LEFT: #ddecff 3px solid; BORDER-BOTTOM: #ddecff 3px solid; POSITION: absolute
}
.select_d2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.7m.cn/img_select/header_bg.jpg); FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 640px; PADDING-TOP: 0px; HEIGHT: 25px
}
.select_v1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; WIDTH: 80%; LINE-HEIGHT: 23px; TEXT-ALIGN: left
}
.select_v2 {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 0px; WIDTH: 16%; LINE-HEIGHT: 23px; FONT-FAMILY: Tahoma; TEXT-ALIGN: right
}
.select_v2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.select_d3 {
	FLOAT: left; WIDTH: 640px; HEIGHT: 375px
}
.select_c1 {
	CLEAR: both
}
.ntl0 {
	BACKGROUND: url(http://img.7m.cn/vnimg/img2/ntbg1.jpg)
}
.ntl2 {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.7m.cn/vnimg/img1/ntbg2.jpg) right 50%; COLOR: #ffff33; HEIGHT: 28px; TEXT-ALIGN: right
}
.ntl2 A:link {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
.ntl2 A:visited {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
.ntl2 A:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
.ntl2 A:active {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
.ltms1 {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.7m.cn/vnimg/img2/ntbg2.jpg) #ffffff repeat-y right 50%; COLOR: #336699; HEIGHT: 19px; TEXT-ALIGN: right
}
.ltms1 A:link {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
.ltms1 A:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
.ltms1 A:hover {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
.ltms1 A:active {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
.zti1 IMG {
	MARGIN: 0px 2px
}
.zti1 {
	COLOR: #ff0000
}
.zti2 {
	PADDING-LEFT: 5px; LETTER-SPACING: 2px; TEXT-ALIGN: left
}
.zti2 A {
	COLOR: #000; TEXT-DECORATION: none
}
